@charset "UTF-8";

* {
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -khtml-user-drag: none;
    -ms-user-drag: none;
}

#game {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 400px;
}

#score-board {
    position: relative;
    margin-bottom: 5px;

    background: #aaaaaa;

    font-size: 30px;
    font-weight: bold;

    display: flex;
    padding: 15px;
}

#score-board .score {
    padding: 5px;
}

#score-board .restart {
    cursor: pointer;
    margin-left: auto;
    background: gray;
    padding: 5px;
    border-radius: 15px;
}

#playfield {
    position: relative;
    height: 400px;
    background: white;
}

.back {
    position: absolute;
    width: 100px;
    height: 100px;
    background: gray;
}



@keyframes fade-in {
    0% {
      opacity: 0; 
    }
  
    100% {
      opacity: 1; 
    } 
}

.gameover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.50);
    z-index: 100;
    text-align: center;
    animation: fade-in 800ms ease 800ms;
    animation-fill-mode: both;
}

.gameover .message {
    margin-top: 150px;
    background: rgba(238, 228, 218, 0.80);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameover p {
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
}

.gameover .reset {
    cursor: pointer;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    content: url(/img/reset.png);
}

@keyframes appear {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); 
    }
  
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); 
    } 
}

.new {
    animation: appear 200ms ease 100ms;
    animation-fill-mode: backwards; 
}

@keyframes pop {
    0% {
        transform: scale(0); 
    }

    50% {
        transform: scale(1.2); 
    }

    100% {
        transform: scale(1);
    } 
}

.merged {
    z-index: 20;
    animation: pop 200ms ease 100ms;
    animation-fill-mode: backwards;
}

.wrapper {
    position: absolute;
    width: 100px;
    height: 100px;
    background: transparent;
    color: white;
    text-align: center;
    font: 48px/96px Arial;
    -o-transition: 100ms ease-out;
    -webkit-transition: 100ms ease-out;
    -moz-transition: 100ms ease-out;
    transition: 100ms ease-out;
}

.thing {
    margin: 2px;
    background: #000000;
}

.thing.t2 {
    color: black;
    background: #18df00;
}

.thing.t4 {
    color: black;
    background: #5a9900;
}   

.thing.t8 {
    color: black;
    background: #8c8e00;
}

.thing.t16 {
    color: black;
    background: #d38200;
}

.thing.t32 {
    color: black;
    background: #ae3900;
}

.thing.t64 {
    color: black;
    background: #931269;
}

.thing.t128 {
    background: #0a034c;
}

.thing.t256 {
    background: #0a034c;
}

.thing.t512 {
    background: #0a034c;
}

.thing.t1024 {
    background: #0a034c;
}

/* далее все чёрные с белым текстом */